#root {
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  position: relative;
  width: 100%;
}


.home-container {
  width: 100%;
  max-width: 1400px; 
  margin: 0 auto;
}


.home-title {

  line-height: 1.1;
}

.home-link {
  white-space: nowrap;
}

.home-content p {
  line-height: 1.3;
}


a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}












